.tcp__ctr{
    width:100%;
    height:auto;
    margin-top: 20px;
    border:1px solid rgb(208, 208, 208);
    border-radius: 5px;
    padding: 10px;
}

.ct__ctr{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

.timestamp{
    display: inline-block;
    margin-bottom: 10px;
}

.ct__date,
.ct__time{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(157, 155, 155);
}

.ct__date{
    margin-right: 10px;
}

.tn__btn__wpr{
    display: inline-flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 5px 10px;
    border:1px solid rgb(189, 187, 187);
    border-radius: 4px;
    margin-left: 15px;
}

.task__name{
    font-size: 1.5rem;
    font-weight: 600;
}

.task__view__btn{
    display: block;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    padding:5px 0;
    background-color: rgb(87, 95, 245);
    border-radius: 4px;
    margin-left: 15px;
    color:white;
}

