.nt__panel{
    width: 100%;
    height: 500px;
    
    justify-content: center;
    align-items: center;
    border:2px solid rgb(208, 208, 208);
    border-radius: 5px;

}

.nt__title{
    font-size: 2.5rem;
}

.at__title{
    font-size: 1.2rem;
    font-weight: 600;
}

.nt__panel,
.at__title{
    color:var(--primary-clr-ash-1);
}